<web-app>
	<display-name>
	CNT4714 - Project4 - Joshua Nichols - Spring2020
	</display-name>
	<description>
	Lovely description goes here.
	</description>
	<servlet>
		<servlet-name>welcome1</servlet-name>
		<description>
		CNT4714 - Project4 - Joshua Nichols - Spring2020
		</description>
		<servlet-class>MySQLServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>welcome1</servlet-name>
		<url-pattern>/Project4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>welcome1</servlet-name>
		<servlet-class>com.mysql.cj.jdbc.Driver</servlet-class>
		<url-pattern>/MySQLServlet</url-pattern>
	</servlet-mapping>
</web-app>